.main-content {


};



img {
    height: auto;
    width: 96vw;

    @media @tablet {
        height: 19vh;
        width: auto;
        padding: .5%;
    }
}

.pics {
    
   @media @tablet {.flex(column, auto, space-around);
            }
            
        .picgroup1 {
               @media @tablet { .flex(row, space-evenly, auto);
               padding-bottom: 8%;
            };
        };
            
        .picgroup2 {
                @media @tablet {.flex(row, space-evenly, auto);
                    };
            };
                    
};
                    