// Variable break points

@tablet: ~"(min-width: 500px)";
@desktop: ~"(min-width: 1000px)";

@title-fsize-mob: 3.4rem;
@stitle-fsize-mob: 2.4rem;
@text-fsize-mob: 1.0rem;

@title-fsize-tab: 4rem;
@stitle-fsize-tab: 3.2rem;
@text-fsize-tab: 1.2rem;

@title-fsize-des: 8rem;
@stitle-fsize-des: 2rem;
@text-fsize-des: 1.4rem;

@font-color-light: rgb(195, 201, 33);
@font-color-light2: #D8D4D5;
@font-color-dark: #6E7271;
@font-color-dark2: #384D48;

@font-style-titles: 'Source Serif Pro', serif;
@font-style-text: 'Dancing Script', cursive;

