// Variable break points

@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1000px)";

@title-fsize-mob: 3.4rem;
@stitle-fsize-mob: 2.8rem;
@text-fsize-mob: 2rem;

@title-fsize-tab: 2rem;
@stitle-fsize-tab: 5rem;
@text-fsize-tab: 3.6rem;

@title-fsize-des: 10rem;
@stitle-fsize-des: 3.6rem;
@text-fsize-des: 2.6rem;

@font-color-light: #563635;
@font-color-light2: #81F0E5;
@font-color-dark: #050609;
@font-color-dark2: #774936;

@font-style-titles: 'Source Serif Pro', serif;
@font-style-text: 'Dancing Script', cursive;

